/* MODAL STYLES
-------------------------------*/
pq-modal {
  /* modals are hidden by default */
  display: none; }
  pq-modal .pq-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index must be higher than .modal-background */
    z-index: 1000;
    /* enables scrolling for tall modals */
    overflow: auto;
    margin-left: 100px; }
  pq-modal .pq-modal-body {
    padding: 20px;
    /* margin exposes part of the modal background */
    margin: 40px; }
  pq-modal .pq-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.5;
    /* z-index must be below .modal and above everything else  */
    z-index: 900; }
  pq-modal body.pq-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden; }
  pq-modal .pq-modal-footer {
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5; }
  pq-modal .flatbutton {
    display: inline;
    background: darkgray;
    border-radius: 2px;
    font-family: "Arial";
    border: 0;
    font-size: 15px;
    line-height: 15px;
    color: white;
    width: auto;
    height: auto;
    box-sizing: content-box; }
  pq-modal .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 5px; }
  pq-modal .btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd; }

.pq-scheduler .arrow-left, .pq-scheduler .arrow-right {
  position: absolute;
  top: 70px;
  z-index: 1000;
  background-color: white; }
  .pq-scheduler .arrow-left:hover, .pq-scheduler .arrow-right:hover {
    cursor: pointer; }

pq-scheduler-select-route .select-control {
  width: 100%;
  padding: 5px; }

pq-scheduler-select-route .text-container {
  margin: 5px; }

pq-scheduler-select-route .scheduler-select-route {
  height: 150px;
  width: 400px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: white;
  border: 1px solid;
  border-color: cadetblue;
  border-radius: 5px; }

.pq-scheduler-board .pq-board-container {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column; }

.pq-scheduler-board .pq-board-header {
  height: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  font-family: arial; }

.pq-scheduler-board .pq-board-body {
  border-style: solid;
  border-width: 1px;
  border-color: #CECECE;
  flex-grow: 1;
  display: flex; }

.pq-scheduler-board .pq-stage {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column; }

.pq-scheduler-board .pq-stageheader {
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #CECECE; }

.pq-scheduler-board .pq-stagebody {
  border-style: solid;
  border-width: 1px;
  border-color: #CECECE;
  flex: 1;
  background-color: rgba(251, 249, 131, 0.6); }

.pq-scheduler-board .pq-stageevent {
  height: 40px;
  background-color: rgba(63, 70, 191, 0.4);
  border-style: solid;
  border-width: 1px;
  border-color: #CECECE;
  margin: 4px;
  padding: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

pq-scheduler-customize .scheduler-customize-container {
  padding: 5px;
  background: #fff;
  height: 60%;
  align-items: center;
  justify-content: center; }

pq-scheduler-customize .scheduler-centered-content {
  height: 80%;
  display: flex; }

pq-scheduler-customize .avaiable-container {
  float: left;
  width: 150px;
  height: 320px; }

pq-scheduler-customize .stages-block {
  flex-grow: 1; }

pq-scheduler-customize .stages-container {
  border: 1px;
  height: 300px;
  overflow: hidden;
  display: flex;
  overflow-x: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch; }

pq-scheduler-customize .stage {
  width: 200px;
  padding: 5px 5px 5px 5px;
  border-left: 1px solid LightGray;
  color: #767676; }

pq-scheduler-customize .stageheader {
  display: block;
  padding: 5px;
  margin: 0 auto; }

pq-scheduler-customize .stageheadername {
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: linear-gradient(#eee, #fff);
  transition: all 0.3s ease-out;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4);
  color: gray;
  text-align: center;
  font-family: customfont;
  margin: 0 auto;
  width: 120px; }

pq-scheduler-customize .stageservice {
  background: LightGray;
  margin: 2px 5px 2px 5px; }

pq-scheduler-customize .availableservice {
  white-space: nowrap;
  margin: 2px 5px 2px 5px;
  font-size: 14px;
  font-family: arial; }

pq-scheduler-customize .centered {
  text-align: center; }

pq-scheduler-edit-column {
  /* modals are hidden by default */
  /*display: none;*/
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100px;
  left: 0;
  z-index: 1010; }
  pq-scheduler-edit-column .scheduler-edit-column {
    height: 150px;
    width: 400px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
    border: 1px solid;
    border-color: cadetblue;
    border-radius: 5px; }
  pq-scheduler-edit-column .text-container {
    padding: 5px; }
  pq-scheduler-edit-column .checkbox-container {
    padding: 5px; }
  pq-scheduler-edit-column .delete-button {
    margin-right: 40px; }


/*# sourceMappingURL=pqscheduler.css.map*/