<div class="pq-scheduler">
    <button ng-click="$ctrl.openCustomize($event)">Customize</button>

    <div class="scheduler-container">

        <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100vh;'>
            <div class="dhx_cal_navline">

                <div class="dhx_cal_prev_button">&nbsp;</div>
                <div class="dhx_cal_next_button">&nbsp;</div>
                <div class="dhx_cal_today_button"></div>
                <div class="dhx_cal_date"></div>
                <div class="dhx_cal_tab" name="day_tab"></div>
                <div class="dhx_cal_tab" name="week_tab"></div>
                <div class="dhx_cal_tab" name="month_tab"></div>
                <div class="dhx_cal_tab" name="unit_tab" style="right:280px;"></div>
            </div>
            <div class="dhx_cal_header"></div>
            <div class="dhx_cal_data"></div>
        </div>
    </div>

    <pq-modal id="scheduler-customize-modal">
        <div class="pq-modal">
            <div class="pq-modal-body">
                <pq-scheduler-customize on-save-customize="$ctrl.onSaveCustomize()"></pq-scheduler-customize>
            </div>

        </div>
        <div class="pq-modal-background"></div>
    </pq-modal>
</div>