<div class="scheduler-customize-container">
    <div class="scheduler-centered-content">
        <div class="avaiable-container" pq-drop-on-me on-drop="handledrop(event, null, data)">
            <span class="availableservice">Not shown services</span>
            <div ng-repeat="service in notShownServices" class="stageservice" pq-drag-me="serviceid" id="service_{{service.id}}" serviceid="{{service.serviceId}}">
                {{service.name}}
            </div>
        </div>

        <div class="stages-block">
            <div class="centered">
                <span>
                    Stages
                </span>
                <span>
                    <input type="submit" class="flatbutton" value="+" title="Add Column" ng-click="$ctrl.addStage($event)" />
                </span>
            </div>
            <div class="stages-container">

                <div ng-repeat="stageobj in stages" class="stage" pq-drop-on-me="{{stageobj.stageType == 3}}" on-drop="handledrop(event, stageobj, data)"
                     id="stage_{{stageobj.id}}">
                    <div class="stageheader">
                        <span>
                            <input ng-model="stageobj.name" class="stageheadername" />
                        </span>
                        <span ng-if="stageobj.stageType == 3">
                            <input type="submit" class="flatbutton" value="-" title="Remove Column" ng-click="$ctrl.removeStage($event, stageobj)" />
                        </span>
                        <span ng-if="stageobj.stageType == 3">
                            <input type="checkbox" title="Default column for new services" ng-model="stageobj.isServiceDefault" ng-change="$ctrl.changeIsServiceDefault($event, stageobj)" />
                        </span>
                    </div>

                    <div ng-repeat="stageservice in stageobj.services" class="stageservice" pq-drag-me="serviceid" id="service_{{stagestatus.id}}" serviceid="{{stageservice.serviceId}}">
                        {{stageservice.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pq-modal-footer">
        <button type="button" ng-click="$ctrl.closeModal(false)" class="btn btn-default" focus-element="autofocus" data-dismiss="pq-modal">Close</button>
        <button type="button" ng-click="$ctrl.closeModal(true)" class="btn btn-primary">Save changes</button>
    </div>

</div>
<pq-scheduler-edit-column on-add-stage="$ctrl.onAddStage(stagename)"></pq-scheduler-edit-column>