.scheduler-customize-container {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scheduler-centered-content {
    width: 70%;
    height: 80%;
}

.avaiable-container {
    float: left;
    width: 150px;
    height: 100%;
}

.stages-container {
    border: 1px;
    height: 95%;
    overflow: hidden;
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.stage {
    width:180px;
    margin: 5px;
}

.status {
    background: LightGray;
    margin: 2px 5px 2px 5px;
}
.modal-footer {
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}