pq-scheduler-customize {


    .scheduler-customize-container {
        padding:5px;
        background: #fff;
        height: 60%;
        align-items: center;
        justify-content: center;
    }

    .scheduler-centered-content {
        height: 80%;
        display: flex;
    }

    .avaiable-container {
        float: left;
        width: 150px;
        height: 320px;
    }

    .stages-block {
        flex-grow: 1;
    }

    .stages-container {
        border: 1px;
        height: 300px;
        overflow: hidden;
        display: flex;
        overflow-x: auto;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }

    .stage {
        width: 200px;
        padding: 5px 5px 5px 5px;
        border-left: 1px solid LightGray;
        color: #767676;
    }

    .stageheader {
        display: block;
        padding: 5px;
        margin: 0 auto;
    }

    .stageheadername {
        border: 1px solid rgba(255,255,255,0.6);
        background: linear-gradient(#eee, #fff);
        transition: all 0.3s ease-out;
        box-shadow: inset 0 1px 4px rgba(0,0,0,0.4);
        color: gray;
        text-align: center;
        font-family: customfont;
        margin: 0 auto;
        width: 110px;
    }

    .stageservice {
        background: LightGray;
        margin: 2px 5px 2px 5px;
    }

    .availableservice {
        white-space: nowrap;
        margin: 2px 5px 2px 5px;
        font-size: 14px;
        font-family: arial;
    }

    .centered {
        text-align: center;
    }
}
