<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="QFlow.Library"                      
                           />
        <bindingRedirect oldVersion="6.1.0.0-6.1.90.0"
                         newVersion="6.2.17.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
