<div class="scheduler-customize-container">
    <div class="scheduler-centered-content">
        <div class="avaiable-container" drop-on-me on-drop="handledrop(event, null, data)">
            Available services
            <div ng-repeat="status in statuses" class="status" drag-me="statusid" id="status_{{stagestatus.id}}" statusid="{{status.id}}">
                {{status.name}}
            </div>
        </div>

        <div>
            Stages
            <div class="stages-container">

                <div ng-repeat="stageobj in stages" class="stage" drop-on-me on-drop="handledrop(event, stageobj, data)" id="stage_{{stageobj.id}}">
                    <input ng-value="stageobj.name" />


                    <div ng-repeat="stagestatus in stageobj.statuses" class="status" drag-me="statusid" id="status_{{stagestatus.id}}" statusid="{{stagestatus.id}}">
                        {{stagestatus.name}}
                    </div>
                </div>
            </div>
        </div>

        <div class="pq-modal-footer">
            <button type="button"  ng-click="$ctrl.closeModal(false)" class="btn btn-default" focus-element="autofocus" data-dismiss="pq-modal">Close</button>
            <button type="button" ng-click="$ctrl.closeModal(true)" class="btn btn-primary">Save changes</button>
        </div>
    </div>

</div>