<div class="scheduler-edit-column">
    
    <div class="top-content">
        <label for="pqstageName">Name</label>
        <input type="text" id="pqstageName" ng-model="name">
    </div>
    <div class="pq-modal-footer">
        <button type="button" ng-click="$ctrl.closeModal($event, false)" class="btn btn-default" focus-element="autofocus" data-dismiss="pq-modal">Close</button>
        <button type="button" ng-click="$ctrl.closeModal($event, true)" class="btn btn-primary">Add</button>
    </div>

</div>
