<div class="scheduler-edit-column">
    
    <div class="top-content">
        <table>
            <tr>
                <td class="text-container">
                    <label for="pqstageName">Name</label>
                </td>
                <td class="text-container">
                    <input type="text" id="pqstageName" ng-model="$parent.editingStage.name">
                </td>
            </tr>
            <tr>
                <td class="text-container">
                    <label for="pqisservicedefault">Default for services</label>
                </td>
                <td class="checkbox-container">
                    <input type="checkbox" id="pqisservicedefault" ng-model="$parent.editingStage.isServiceDefault">
                </td>
            </tr>
        </table>
    </div>
    <div class="pq-modal-footer">
       <button  ng-if="!$parent.editingStage.isNew" type="button" ng-click="$ctrl.deleteStage($event)" class="delete-button btn btn-default" data-dismiss="pq-modal">Delete</button>
        
        <button type="button" ng-click="$ctrl.closeModal($event, false)" class="btn btn-default" focus-element="autofocus" data-dismiss="pq-modal">Close</button>
        <button type="button" ng-click="$ctrl.closeModal($event, true)" class="btn btn-primary">{{$parent.editingStage.buttonName}}</button>
    </div>

</div>
