.scheduler-customize-container {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scheduler-centered-content {
    border-style: solid;
    border-width: 1px;
    border-color: red;
    border-radius: 10px;
    width: 50%;
    height: 80%;
}

.avaiable-container {

    float: left;
    border: 1px solid black;
    width: 200px;
    height: 100%;
}

.stages-container {
    border: 1px solid green;
    height: 95%;
    overflow: hidden;
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.stage {
    background: green;
    width:150px;
    margin: 5px;
}

.status {
    background: brown;
    margin: 2px 5px 2px 5px;
}