.scheduler-customize-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scheduler-centered-content {
    border-style: solid;
    border-width: 1px;
    border-color: red;
    border-radius: 10px;
    width: 50%;
    height: 80%;
}

.avaiable-container {

    float: left;
    border: 1px solid black;
    width: 300px;
    height: 100%;
}

.stages-container {
    border: 1px solid green;
    height: 100%;
    overflow: hidden;
}

.stage-container {
    background: blue;
}

.status {
    background: brown;
    margin: 2px 5px 2px 5px;
}